/* ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/texturaFondo2.jpg);
    background-size: 40%;
    background-position-y: -100px;
}


/* ESTILOS DEL JUEGO */
/* Turno de jugador */
.turno {
    position: absolute;
    top: 40px;
    color: hsl(0, 0%, 100%);
    background-color: rgb(204, 50, 50);
    background-image: url(../Images/texturaMadera2.jpg);
    padding: 10px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 5px solid hsl(12, 9%, 10%);
    border-right: 2px solid hsl(12, 9%, 10%);
    transition: 0.5s ease;
    width: 300px;
    text-shadow: 0px 3px 1px #000000, 0px 0px 5px #000;
    filter: drop-shadow(2px 5px 5px #000000b0);
    text-align: center;
}


/* ESTILOS DEL DADO */
.envoltura {
    position: absolute;
    perspective: 600px;
    left: 10%;
    filter: drop-shadow(5px 20px 15px #000000);
}
.dado {
    position: absolute;
    transition: 1s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    width: 100px;
    height: 100px;    
    transform-origin: center;
}
/* ANIMACIONES DADO */
/*      - NEGRO: 1
        - VERDE: 2    */
.dado.dado-1 {
    animation: dado1 1s ease forwards;
}
@keyframes dado1 {
    from {
        transform: none;
    }

    to {
        transform: rotateX(-450deg) rotateY(180deg);
    }
}
.dado.dado-2 {
    animation: dado2 1s ease forwards;
}
@keyframes dado2 {
    from {
        transform: none;
    }
    to {
        transform: rotateX(450deg);   
    }
}
.dado.dado-3 {
    animation: dado3 1s ease forwards;
}
@keyframes dado3 {
    from {
        transform: none;
    }
    to {
        transform: rotateY(450deg) rotateX(180deg);   
    }
}
.dado.dado-4 {
    animation: dado4 1s ease forwards;
}
@keyframes dado4 {
    from {
        transform: none;
    }
    to {
        transform: rotateY(-360deg) rotateX(360deg);   
    }
}
.dado.dado-5 {
    animation: dado5 1s ease forwards;
}
@keyframes dado5 {
    from {
        transform: none;
    }
    to {
        transform: rotateY(-90deg) rotateX(360deg);   
    }
}
.dado.dado-6 {
    animation: dado6 1s ease forwards;
}
@keyframes dado6 {
    from {
        transform: none;
    }
    to {
        transform: rotateY(-180deg) rotateX(360deg);   
    }
}

/* Caras del dado (Parte negra)*/
.dado > div {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.arriba {
    transform: translateY(-50%) rotateX(90deg);
}
.abajo {
    transform: translateY(50%) rotateX(90deg);
}
.delante {
    transform: translateZ(50px);
}
.detras {
    transform: translateZ(-50px);
}
.izquierda {
    transform: translateX(-50%) rotateY(90deg);
}
.derecha {
    transform: translateX(50%) rotateY(90deg);
}
/* Parte blanca */
.dado > div > div {
    height: 85%;
    width: 85%;
    background-color: #fff;
    transform: translateZ(100px);
}
.arriba > div {
    background-color: #0e0e0e !important;
}
.abajo > div {
    background-color: green !important;
}
/* Puntos */
.punto {
    height: 17px;
    width: 17px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}
.fila {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* CARA DE 3 */
.izquierda > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 11px 15px;
}
.izquierda .fila:first-child {
    display: flex;

}
.izquierda .fila:nth-child(2) {
    display: flex;
    justify-content: center;
}
.izquierda .fila:last-child {
    display: flex;
    justify-content: right;
}

/* CARA DE 4 */
.delante > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 15px;
}
.delante .fila {
    justify-content: space-between;
}

/* CARA DE 5 */
.derecha > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 11px 15px;
}
.derecha .fila {
    justify-content: space-between;
}
.derecha .fila:nth-child(2) {
    justify-content: center;
}

/* CARA DE 6 */
.detras > div {
    display: flex;
    flex-direction: column;
    padding: 11px 15px;
    gap: 3px;
}
.detras .fila {
    justify-content: space-between;
}

/* TABLERO Y SUS ELEMENTOS */
#tablero {
    width: 30%;
    transform: translateY(10px);
    background-color: #000;
    background-size: cover;
    position: absolute;
    aspect-ratio: 1/1;
    background-color: rgba(255, 255, 255, 0.363);
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    border-bottom: #98a81a solid 5px;
    box-shadow: 5px 20px 15px #00000081;
}
.celda {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.muro {
    background-color: #C1D621;
    border: 0.5px solid #98a81a;
    z-index: 50;
}
.muro2 {
    border-bottom: #8a9917 solid 5px;
    z-index: 50;
}
.vacio {
    background-color: #326F2F;
    border: 0.5px solid #255323;
}
.spawn {
    background-color: #cacaca;
    border: 0.5px solid #858585;
}

/* Jugadores */
.jugador {
    height: 20px;
    width: 20px;
    position: absolute;
}
#jugRojo {
    background-color: red;
    border-bottom: 4px solid brown;

}
#jugAzul {
    background-color: rgb(0, 218, 218);
    border-bottom: 4px solid rgb(26, 156, 156);
    filter: drop-shadow(2px 2px 6px #00000094);
}

/* Minotaurus */
#minotauro {
    position: absolute;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid #313131;
    background-color: #000;
    filter: drop-shadow(5px 5px 4px #00000094);
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}