/* ESTILOS PARA EL MENÚ */
@font-face {
    font-family: 'Lego';
    src: url(../Fonts/RoladeItalic-Black.ttf);
}
@font-face {
    font-family: 'Vogue';
    src: url(../Fonts/Vogue.ttf);
}
:root {
    --boton-naranja-claro: #F2B705;
    --boton-naranja-medio: #b37400;
    --boton-naranja-oscuro: #F27405;
    --boton-marron-anaranjado: #732002;
    --boton-marron-oscuro: #260101;
}


/* IMAGEN DE FONDO */
.imagen-menu {
    width: 100%;
    height: 100%;
    background-image: url(../Images/COVER04.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 900;
    filter: blur(2px);
    scale: 1.1;
}
.imagen-menu.desaparecer-fondo {
    animation: desaparecerFondo 1s ease-in-out forwards 350ms;
}
@keyframes desaparecerFondo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* BOTONES */
.boton {
    width: 230px;
    height: 80px;
    background-color: var(--boton-naranja-claro);
    border-radius: 3px;
    border: 0px solid var(--boton-naranja-medio);
    border-bottom-width: 10px;
    font-family: 'Lego';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 7px 10px #000000;
    box-sizing: content-box;
    user-select: none;
    transform: translateY(-650px);
    animation: aparecerBoton 0.8s ease forwards;
    z-index: 1000;
}
.boton > div {
    width: 92%;
    height: 80%;
    border: 1px solid var(--boton-naranja-medio);
    border-bottom-width: 3px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
}
.boton > div > div {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.boton > div > div > div {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-shadow: 0px 2px 0px var(--boton-naranja-medio);
    border: 1px solid var(--boton-naranja-medio);
}
.boton p {
    position: absolute;
    font-size: 1.6em;
    color: #fff;
    text-shadow: 0px 4px 0px var(--boton-naranja-medio);
}
.boton:active {
    border-bottom: 0px;
    transform: translateY(10px) !important;
    box-shadow: none;
}

/* Posición de cada botón */
.play-game {
    bottom: 58%;
}
.instrucciones {
    bottom: 45%;
}

/* Colores para el botón instrucciones */
.instrucciones {
    background-color: var(--boton-naranja-oscuro);
    border-radius: 3px;
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones > div {
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones > div > div > div {
    box-shadow: 0px 2px 0px var(--boton-marron-anaranjado);
    border-color: var(--boton-marron-anaranjado);
}
.instrucciones p {
    text-shadow: 0px 4px 0px var(--boton-marron-anaranjado);
}

/* Animaciones para los botones */
.boton.desaparecer-boton {
    animation: desaparecerBoton 0.8s ease-in-out forwards;
}
@keyframes desaparecerBoton {
    from {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(-15px);
        opacity: 1;
    }
    to {
        transform: translateY(500px);
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes aparecerBoton {
    from {
        transform: translateY(-500px);
    }   
    to {
        transform: translateY(0px);
    }
}

.instrucciones {
    animation-delay: 300ms !important;
}

/* TÍTULO */
.titulo-minotaurus {
    position: absolute;
    width: 600px;
    width: 45vw;
    filter: drop-shadow(0px 0px 10px #000);
    bottom: 65%;
    transform: translateY(-400px);
    animation: aparecerBoton 0.8s ease forwards 400ms;
    cursor: pointer;
    z-index: 1000;
}
.titulo-minotaurus.desaparecer-titulo {
    animation: desaparecerTitulo 1s ease forwards;
}
@keyframes desaparecerTitulo {
    from {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(15px);
    }
    to {
        transform: translateY(-400px);
        visibility: hidden;
    }
}

/* DIV DE INSTRUCCIONES DEL JUEGO */
.div-instrucciones {
    position: absolute;
    width: 80%;
    max-width: 750px;
    height: 0%;
    background-color:#ede6d6;
    background-image: url(../Images/fondoInstrucciones2.jpg);
    background-size: cover;
    color: #311F14;
    z-index: 1000;
    transition: 0.4s ease;
    font-family: "MedievalSharp";
    padding: 0px 10px;
    overflow-y: scroll;
    visibility: hidden;
    text-align: justify;
    font-variant: small-caps;
}
.div-instrucciones::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    height: 100%;
}
.div-instrucciones::-webkit-scrollbar-thumb {
    background-color: #afa787;
}

.div-instrucciones.aparecer-div {
    transition-duration: 0.7s;
    height: 80%;
    border: 2px solid #aca196 ;
    visibility: visible;
}

/* Div X */
.div-instrucciones > div:first-child {
    padding: 13px 0px;
    display: flex;
    justify-content: right;
}
.fa-xmark {
    cursor: pointer;
    width: 20px;
    user-select: none;
}

/* Div Texto */
.div-instrucciones > div:last-child {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div-instrucciones h2 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    font-family: 'Vogue';
}

/* Imágenes de las intrucciones */
.imagenes-detalladas {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.imagenes-detalladas img {
    width: 100px;
}
.imagenes-detalladas div {
    text-align: center;
    padding: 0px 1%;
}

/* Intrucciones dado */
.instruccion-dado {
    margin-bottom: 30px;
}
.instruccion-dado ul {
    list-style: '- ';
    padding-left: 25px;
}
.instruccion-dado ul li {
    padding-top: 10px;
}
.instruccion-dado ul li span {
    font-weight: bold;
}

/* Instrucciones muro */
.div-instrucciones-muro {
    margin-bottom: 30px;
}

/* Instrucciones Minotauro */
.div-instrucciones-minotauro {
    margin-bottom: 45px;
}