/* Botón activar menú */
.fa-gear {
    color: #FFF;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
    cursor: pointer;
    font-size: 1.9em;
}

/* Blur de fondo al activar el menú */
.div-ajustes-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000008e;
    z-index: 1000;
    backdrop-filter: blur(4px);
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
}
.div-ajustes-blur.mostrar-blur {
    visibility: visible;
    opacity: 1;
}

/**/ 
#div-ajustes {
    background-color: rgba(255, 68, 0, 0.404);
    width: 340px;
    height: 400px;
    position: absolute;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
}
#div-ajustes.mostrar-menu {
    opacity: 1;
    visibility: visible;
}

.fa-x {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    transform: scaleY(0.9);
    color: #FFF;
    font-size: 1.4em;
}

